assets/*
templates_c/*
userpanel/templates_c/*
nbproject/private
lms.ini
backups/*
documents/*
!documents/templates
cache/*
# Temporary files
*~
*.swp
*.swo
*.lock

# Object files
*.o

# Shared objects
*.so

# Executables
daemon/lmsd
vendor/
logi/
data/
lib/Smarty/
